# Rust
/target/
/frontend/target/
Cargo.lock

# IDEs
.idea/
*.iml
.vscode/

# OS
.DS_Store
Thumbs.db

# Frontend
/frontend/dist/

# Environment
.env
.env.*
!.env.example

# Docker
.docker/

# Agentic Development
.gemini/tmp/
.gemini/skills/dist/*.skill

gha-creds-*.json
.playwright-mcp/

# used to provide bug screenshots for gemini
bug.png