# Set default behavior to automatically normalize line endings
* text=auto eol=lf

# Explicitly declare text files to always use LF
*.rs text eol=lf
*.toml text eol=lf
*.html text eol=lf
*.scss text eol=lf
*.js text eol=lf
*.css text eol=lf
*.md text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
.gitignore text eol=lf
.gitattributes text eol=lf

# Denote binary files to prevent normalization
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.woff binary
*.woff2 binary
*.ttf binary
*.eot binary
*.pdf binary
